/*Diseño del menu*/
nav{
    div{
        a{
            img{
                width: 50px;
                border-radius: 100px;
            }
        }
        div{
            ul{
                li{
                    a:hover{
                        transform: scale(1,1);
                        background: #0074C7;
                        border-radius: 5px;
                        box-shadow: 0px 0px 10px 0px rgba(0,0,0,.5);
                    }
                }
            }
        }
    }
}

/*Diseño del formulario*/

.contenedor{
    width: 50%;
    background-color: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    h4{
        font-size: 22px;
        margin-bottom: 20px;
        text-align: center;
    }
    .boton{
        width: 100%;
        background: #1f535c;
        border-radius: 10px;
        padding: 12px;
        color: white;
        margin:16px 0;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px){
    
    .contenedor{
        width: 300px;
    }

}


/*Diseño del footer*/
#footer{
    background-color:rgb(189, 189, 189);
}



.boton
{
    width: 100%;
    background: #1f535c;
    border-radius: 10px;
    padding: 12px;
    color: white;
    margin:16px 0;
    font-size: 16px;

}
